node_modules/
.pnpm-store/
example/
.DS_Store
src/
temp/
.idea/
.gitignore
.npmignore
.npmrc
index.html
pnpm-lock.yaml
rollup.config.js
shims-vue.d.ts
package-lock.json
tsconfig.json
tsconfig.rollup.json
vite.config.mts
public/
docs/.vitepress/dist/
